

/**
 * App styles
 * -------------------------
*/

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.App h3 {
  margin-top: 0;
}

.stepPanel--content .list-inline-item {
  margin-bottom: .5rem;
}

.collapseGroup .collapseGroup-btn {
  font-size: 20px;
}






.grid-of-numbers {
  display: flex;
  flex-wrap: wrap;
  /* background: #333; */
  /* border: 10px solid transparent; */
}
 






@import './utilities.css';
@import './component/appBar.css';
@import './component/view.css';
@import './component/square.css';
@import './component/collapseGroup.css';