

/**
 * View 
 * -------------------------
*/


.view {
  padding: 20px;
  padding-top: 80px; /* for fixed appBar */
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.view--footer {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}