.App {
  text-align: center;
  display: flex;
    height: 100vh;
    flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #2b328c;
  /* background-color: #222; */
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  display: flex;
    height: 100%;
    flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* .App-footer {
  background: #444;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */





h3 {
  margin-top: 0;
}


.stepPanel {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: flex 0.5s ease;
  background-color: #aaa;
}
.stepPanel--info {
  position: absolute;
  z-index: 11;
  color: #fff;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 1.3rem;
}
.stepPanel--info small {
  display: block;
  margin-bottom: 5px;
}
.stepPanel:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100 ,0.7);
  z-index: 10;
  border-top: 1px solid #aaa;
}

.stepPanel--decorator {
  filter: blur(3px);
}

.stepPanel.active {
  flex: 1;
  /* background: lime; */
}
.stepPanel.active:after,
.stepPanel.active .stepPanel--info {
  display: none;
}
.stepPanel.active .stepPanel--decorator {
  filter: none;
}
.list-unstyled {
  margin: 0;
  list-style: none;
}
.list-inline {
  padding: 0;
}
